html
    head
        title token stuff
        script(src="controllers/clientClicks.js")
    header
        p This is the header
        a(href='/') Home
    body
    
        p= message
        br
        p You made it, congrats.
        //a(onclick='twitterToken()') #[button Click here]
        